@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{

    background: #e7e9ee;
}
.title{
    width: 100%;
    background: #639e71;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.nav-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.container__cards{
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 250px;
    margin: 10px;
    transition: all 800ms;
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
    -o-transition: all 800ms;
}

/* .card:hover{
    width: 300px;
    border-width: solid 2px;
} */

.card .cover{
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
   /* filter: drop-shadow(5px 5px 4px rgba(167, 156, 156, 0.5));*/
    transition: all 400ms;
}

/* .card:hover .cover img{
    top: 0px;
    filter: none;
} */

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 10px;
    transition: all 300ms;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../images/bg1.jpg);
} 

.card:nth-of-type(2) .img__back{
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(../images/bg3.jpg);
}

.card:nth-of-type(4) .img__back{
    background-image: url(../images/bg1.jpg);
} 
.card:nth-of-type(5) .img__back{
    background-image: url(../images/bg2.jpg);
}
.card:hover .img__back{
    bottom: -40px; 
}



.card .description{
    background: white;
    margin-top: -10px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    transition: all 1000ms;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -ms-transition: all 1000ms;
    -o-transition: all 1000ms;
}

.card:hover .description{
    padding: 20px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description .btnVerMas{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description .btnVerMas:hover{
    background: #64165e;
}

#contenedoRender {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border: 2px solid rgb(141, 150, 149);
    background-color: #fafafa;
    width: 200px;
    height: 350px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 8px 5px 5px rgb(87, 86, 86);
}
  
  .tarjeta img {
    width: 100%;
    height: 50%;
  }

  .agreCarrito {
    cursor: pointer;
    margin-top:7px;
    width: 140px;
    height: 50px;
    background: #A6359D;
    text-align: center;
    font-size:18px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.tarjeta:hover{
   background-color: rgb(202, 198, 198);
   transition: all 300ms;
   -webkit-transition: all 300ms;
   -moz-transition: all 300ms;
   -ms-transition: all 300ms;
   -o-transition: all 300ms;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #639e71;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #46494e;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
